<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="executionTimeout" value="5000" />
    <add key="apiURL" value="http://localhost:5000/api/exchangerates" />
  </appSettings>
</configuration>